name: Processa Richieste Admin App

on:
  issues:
    types: [opened]

permissions:
  contents: write
  issues: write

jobs:
  process_commands:
    # Rimosso i due punti (:) da APPROVE e DELETE, così il server intercetta automaticamente anche APPROVE_BULK e DELETE_BULK!
    if: startsWith(github.event.issue.title, 'USER_REQUEST:') || startsWith(github.event.issue.title, 'ADMIN_REQUEST:') || startsWith(github.event.issue.title, 'APPROVE') || startsWith(github.event.issue.title, 'DELETE')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codice sorgente
        uses: actions/checkout@v4

      - name: Configurazione Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Installa dipendenze
        run: pip install requests

      - name: Esecuzione comando su Database
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
        run: python request_processor.py

      - name: Salva il database aggiornato
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "⚡ Aggiornamento Database da App"
          file_pattern: "library.json"

      - name: Chiudi il Ticket elaborato
        uses: peter-evans/close-issue@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: "✅ Comando elaborato e salvato nel database."
